<div class="container">

  <h1>Stupid coaching</h1>

  <form action="/answer" method="get" data-turbo="false" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-4">
      <label for="ask">Ask something to your coach:</label>
    </div>
    <div class="col-4">
      <input type="text" name="ask" class="form-control">
    </div>
    <div class="col-4">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>

</div>
